@use "../../assets/sass/variables" as *;
.counterContainer {
  background-color: $color-pink;
  border: 2px solid $color-black;
  height: 10rem;
  width: 8rem;
  padding: 5px ;
  margin: 3em;
}
.button{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  
}
.counterContent{
  
  display: block;
  p{
    text-align: center;
  }

}
.counterTitle{
  text-align: center;

}