@use "../../assets/sass/variables" as *;
.EmployeeCardsContainer {
  border: 2px solid red;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.EmployeeCard {
  border: 2px solid blue;
  height: 20rem;
  width: 15rem;
  text-align: left;
  padding: 2px;
}
